<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='data.css') }}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'main.js') }}" ></script>
      <script>
         $(document).ready(function(){
           
         });
      </script>
   </head>
   
   <body>
      <div class="file-upload">
         <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add File</button>
       
         <div class="image-upload-wrap">
           <input class="file-upload-input" type='file' onchange="readURL(this);" accept="pdf/*" multiple/>
           <div class="drag-text">
             <h3>Drag and drop a file or select add Image</h3>
           </div>
         </div>
         <div class="file-upload-content">
           <div class="image-title-wrap">        </div>
         </div>
       </div>
   </body>
</html>